src/gites/walhebcalendar/booking.wsdl

<?xml version="1.1" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://affinitic.be/booking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="booking"
	targetNamespace="http://affinitic.be/booking">
	<wsdl:types>
		<xsd:schema targetNamespace="http://affinitic.be/booking">
			<xsd:element name="addBookingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="notificationId" type="xsd:int" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addBookingRequest" type="tns:addBookingRequestType"/>
			<xsd:complexType name="addBookingRequestType">
				<xsd:sequence>
                    <xsd:element name="cgtId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="startDate" type="xsd:date" minOccurs="1"> </xsd:element>
					<xsd:element name="endDate" type="xsd:date" minOccurs="1"> </xsd:element>
					<xsd:element name="bookingType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="booked"/>
								<xsd:enumeration value="unavailable"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getBookingsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="minDate" type="xsd:date" minOccurs="1"/>
						<xsd:element name="maxDate" type="xsd:date" minOccurs="1"> </xsd:element>
						<xsd:element name="cgtId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getBookingsResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="0">
						<xsd:element name="bookings" type="tns:booking" minOccurs="0"
							maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			    <xsd:complexType name="booking">
					<xsd:sequence minOccurs="0">
                        <xsd:element name="cgtId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="startDate" type="xsd:date" minOccurs="1" maxOccurs="1"> </xsd:element>
						<xsd:element name="endDate" type="xsd:date" minOccurs="1" maxOccurs="1"> </xsd:element>
						<xsd:element name="bookingType" minOccurs="1" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="booked"/>
									<xsd:enumeration value="unavailable"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>

			<xsd:element name="getNotificationsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="minNotificationId" type="xsd:int" minOccurs="1"/>
						<xsd:element name="maxNotificationId" type="xsd:int" minOccurs="0"
						> </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			    <xsd:complexType name="notification">
					<xsd:sequence minOccurs="0">
                        <xsd:element name="cgtId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="notificationId" type="xsd:int" minOccurs="1"
							maxOccurs="1"/>
						<xsd:element name="startDate" type="xsd:date" minOccurs="1" maxOccurs="1"> </xsd:element>
						<xsd:element name="endDate" type="xsd:date" minOccurs="1" maxOccurs="1"> </xsd:element>
						<xsd:element name="bookingType" minOccurs="1" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="booked"/>
									<xsd:enumeration value="unavailable"/>
									<xsd:enumeration value="available"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>

			<xsd:element name="getNotificationsResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded" minOccurs="0">
						<xsd:element name="notifications" type="tns:notification" minOccurs="0"
							maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cancelBookingRequest">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="cgtId" type="xsd:string" minOccurs="1"/>
						<xsd:element name="startDate" type="xsd:date" minOccurs="1"> </xsd:element>
						<xsd:element name="endDate" type="xsd:date" minOccurs="1"> </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cancelBookingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="notificationId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addBookingRequest">
		<wsdl:part element="tns:addBookingRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addBookingResponse">
		<wsdl:part element="tns:addBookingResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getBookingsRequest">
		<wsdl:part name="parameters" element="tns:getBookingsRequest"/>
	</wsdl:message>
	<wsdl:message name="getBookingsResponse">
		<wsdl:part name="parameters" element="tns:getBookingsResponse"/>
	</wsdl:message>
	<wsdl:message name="getNotificationsRequest">
		<wsdl:part name="parameters" element="tns:getNotificationsRequest"/>
	</wsdl:message>
	<wsdl:message name="getNotificationsResponse">
		<wsdl:part name="parameters" element="tns:getNotificationsResponse"/>
	</wsdl:message>
	<wsdl:message name="cancelBookingRequest">
		<wsdl:part name="parameters" element="tns:cancelBookingRequest"/>
	</wsdl:message>
	<wsdl:message name="cancelBookingResponse">
		<wsdl:part name="parameters" element="tns:cancelBookingResponse"/>
	</wsdl:message>
	<wsdl:portType name="bookingType">
		<wsdl:operation name="addBooking">
			<wsdl:input message="tns:addBookingRequest"/>
			<wsdl:output message="tns:addBookingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBookings">
			<wsdl:input message="tns:getBookingsRequest"/>
			<wsdl:output message="tns:getBookingsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getNotifications">
			<wsdl:input message="tns:getNotificationsRequest"/>
			<wsdl:output message="tns:getNotificationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<wsdl:input message="tns:cancelBookingRequest"/>
			<wsdl:output message="tns:cancelBookingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="bookingSOAP" type="tns:bookingType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addBooking">
			<soap:operation soapAction="http://affinitic.be/booking/Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBookings">
			<soap:operation soapAction="http://affinitic.be/booking/Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNotifications">
			<soap:operation soapAction="http://affinitic.be/booking/Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<soap:operation soapAction="http://affinitic.be/booking/Operation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="booking">
		<wsdl:port binding="tns:bookingSOAP" name="bookingSOAP">
			<soap:address location="http://dev.walhebcalendar.be"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
